In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('grafos_licitacoes')
df.head(1)

,ano,municipio,modalidade,licitacao,valor,vinculo_em_uso,grafo,cnpjs
0,2015,Cascalho Rico,Pregão Presencial,746396,1190070.0,1,"(19644907000111, 19644880000167, 1970356800010...","[19644907000111, 19703568000105, 1964488000016..."

In [9]:
r1 = pd.read_csv('relatorio_1')
r1.head(1)

,Unnamed: 0,ano,municipio,modalidade,licitacao,valor,vinculo_em_uso,cnpjs,quantidade_cnpjs,quantidade_vinculos,densidade,tamanho_max_clique
0,0,2015,Cascalho Rico,Pregão Presencial,746396,1190070.0,1,"['19644907000111', '19703568000105', '19644880...",12,15,0.227273,6

In [10]:
r1.iloc[0]

Unnamed: 0                                                             0
ano                                                                 2015
municipio                                                  Cascalho Rico
modalidade                                             Pregão Presencial
licitacao                                                         746396
valor                                                          1190070.0
vinculo_em_uso                                                         1
cnpjs                  ['19644907000111', '19703568000105', '19644880...
quantidade_cnpjs                                                      12
quantidade_vinculos                                                   15
densidade                                                       0.227273
tamanho_max_clique                                                     6
Name: 0, dtype: object

In [11]:
r1.iloc[0]['cnpjs']

"['19644907000111', '19703568000105', '19644880000167', '21849894000169', '21679375000108', '19925594000170', '21923822000114', '21884015000130', '19757865000125', '19703659000132', '19581052000127', '07840525000184']"