In [1]:
import sys
sys.path.insert(0, '..')
from util import carregamento_dados as cd, ferramentas_grafos as fg
import pandas as pd
from collections import defaultdict

In [2]:
relacoes_entre_cnpjs = cd.salvar_relacoes_entre_cnpjs()
informacoes_licitacoes = cd.salvar_informacoes_licitacoes()
cnpjs_por_licitacao = cd.salvar_cnpjs_por_licitacao()

In [4]:
informacoes_licitacoes.head(5)

,seq_dim_licitacao,nom_entidade,sgl_entidade_pai,nom_modalidade,num_modalidade,num_exercicio_licitacao,dsc_objeto,vlr_licitacao
0,746396,Cascalho Rico,MG,Pregão Presencial,4,2015,Selecao e Contratacao de pessoa(s) juridica(s)...,1190070.0
1,746397,Cascalho Rico,MG,Convite,3,2015,Selecao e contratacao de pessoa juridica ou pe...,32000.0
2,746398,Cascalho Rico,MG,Pregão Presencial,12,2015,Selecao e contratacao de empresa(s) para o for...,989721.6
3,746399,Cascalho Rico,MG,Pregão Presencial,13,2015,Selecao e contratacao de empresa(s) para forne...,520280.44
4,746400,Cascalho Rico,MG,Pregão Presencial,14,2015,Selecao e contratacao de empresas para forneci...,206961.66

In [5]:
cnpjs_por_licitacao.head(5)

  seq_dim_licitacao   num_documento
0            761453  07469458000133
1            761484  16786094000106
2            761484  02874663000160
3            761487  26680567000140
4            761487  13437102000110

## Passo 1: Verificar quais licitacoes constam em um arquivo, mas nao no outro (diferenca entre conjuntos)

In [25]:
lics_em_arquivo_de_info = set(informacoes_licitacoes['seq_dim_licitacao'])
lics_em_arquivo_de_cnpjs = set(cnpjs_por_licitacao['seq_dim_licitacao'])

qtd_lics_somente_no_arquivo_info = len(lics_em_arquivo_de_info.difference(lics_em_arquivo_de_cnpjs))
qtd_lics_somente_no_arquivo_cnpjs = len(lics_em_arquivo_de_cnpjs.difference(lics_em_arquivo_de_info))

print(f'Quantidade de licitações no arquivo de informações gerais que não são cobertas pelo arquivo de CNPJs por licitação: {qtd_lics_somente_no_arquivo_info}')
print()
print(f'Quantidade de licitações no arquivo de CNPJs por licitação que não são cobertas pelo arquivo de informações gerais: {qtd_lics_somente_no_arquivo_cnpjs}')

Quantidade de licitações no arquivo de informações gerais que não são cobertas pelo arquivo de CNPJs por licitação: 68171

Quantidade de licitações no arquivo de CNPJs por licitação que não são cobertas pelo arquivo de informações gerais: 0