# Análise relatório 3

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/output/csv/relatorio_3')
df.head(5)

,cnpj,qtdade_licitacoes_que_figurou_com_alguem_com_vinculo,lista_licitacoes_onde_isso_ocorreu
0,5120772000180,1,715445;
1,28672087000162,3,862426;878601;878557;
2,8420079000111,2,948275;946535;
3,15392414000180,2,867550;752983;
4,7514572000138,1,960891;

In [3]:
df.sort_values(by=["qtdade_licitacoes_que_figurou_com_alguem_com_vinculo"], ascending=False).head(10)

,cnpj,qtdade_licitacoes_que_figurou_com_alguem_com_vinculo,lista_licitacoes_onde_isso_ocorreu
530,16366888000110,55,762537;155619;731301;790963;791108;926172;7626...
122,874929000140,55,762537;155619;731301;790963;791108;926172;7626...
118,5835916000185,33,973611;944076;948259;839537;839540;839542;8400...
352,71208516000174,33,973611;944076;948259;839537;839540;839542;8400...
268,6629745000109,26,985644;953004;815871;771795;779790;831441;8696...
703,49324221000104,26,985644;953004;815871;771795;779790;831441;8696...
131,13668217000116,20,985641;873162;884428;732717;733716;789090;7597...
46,18210168000197,20,985641;873162;884428;732717;733716;789090;7597...
706,1133225000189,13,770407;770407;770419;809439;770574;770574;9398...
630,6073848000127,13,766047;981159;984924;947613;952168;842684;9844...