# Análise relatório 1

In [7]:
import pandas as pd

In [9]:
df = pd.read_csv('../data/output/csv/relatorio_1')
df = df.drop(["Unnamed: 0", "ano", "modalidade", "valor",
              "vinculo_em_uso", "cnpjs", "municipio"], axis=1)
df.head(5)

,licitacao,quantidade_cnpjs,quantidade_vinculos,densidade,qtd_cliques,tamanho_max_clique
0,746396,12,0,0.0,0,1
1,746397,1,0,0.0,0,1
2,746398,2,0,0.0,0,1
3,746399,3,0,0.0,0,1
4,746400,1,0,0.0,0,1

OBS: qtd_cliques conta numero de cliques de tamanho maior que 1.

Tamanho max clique conta qualquer clique, por isso aponta valor de 1 quanto qtd cliques aponta 0.

In [10]:
df.sort_values(by=["tamanho_max_clique"], ascending=False).head(10)

,licitacao,quantidade_cnpjs,quantidade_vinculos,densidade,qtd_cliques,tamanho_max_clique
17993,754773,8,8,0.285714,3,4
129774,985568,4,6,1.000000,1,4
133445,809665,8,9,0.321429,2,4
133313,809553,6,4,0.266667,2,3
120507,973611,4,3,0.500000,1,3
129961,985703,3,3,1.000000,1,3
138115,941155,6,3,0.200000,1,3
157971,947613,13,4,0.051282,2,3
17929,754722,8,4,0.142857,2,3
31878,797013,5,3,0.300000,1,3