In [1]:
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt

In [5]:
df = pd.read_pickle('../data/output/pickles/grau_competicao')
dfv = df.drop(['ano', 'municipio', 'modalidade', 'valor', 'cnpjs', 'vinculo_em_uso', 'grafo'], axis=1)

In [6]:
df.head()

,ano,municipio,modalidade,licitacao,valor,vinculo_em_uso,grafo,cnpjs,grau competição
0,2015,Cascalho Rico,Pregão Presencial,746396,1190070.0,1,"(19644907000111, 19703568000105, 1964488000016...","[19644907000111, 19703568000105, 1964488000016...",1.0
1,2015,Cascalho Rico,Convite,746397,32000.0,1,(17320374000197),[17320374000197],1.0
2,2015,Cascalho Rico,Pregão Presencial,746398,989721.6,1,"(08655344000140, 65237851000106)","[08655344000140, 65237851000106]",1.0
3,2015,Cascalho Rico,Pregão Presencial,746399,520280.44,1,"(25628900000109, 00365513000104, 21471613000187)","[25628900000109, 00365513000104, 21471613000187]",1.0
4,2015,Cascalho Rico,Pregão Presencial,746400,206961.66,1,(65237851000106),[65237851000106],1.0

In [7]:
dfv.sort_values(by=['grau competição']).head(5)

       licitacao  grau competição
175822    985568         0.250000
223839    817707         0.333333
33570     718648         0.333333
176011    985703         0.333333
142000    904182         0.333333

In [9]:
dfv.to_csv("../data/output/csv/grau_competicao.csv", index=False)