In [9]:
import pandas as pd

relacoes_entre_cnpjs = pd.read_csv(
    '/home/pedro/code/trabalho/M04/2021/data/input/relacao_cnpjs.csv',
    header=None,
    dtype=str,
    sep=' '
)

informacoes_licitacoes = pd.read_csv(
    '/home/pedro/code/trabalho/M04/2021/data/input/infos_licitacoes.csv',
    dtype=str,
    sep=';'
)

cnpjs_por_licitacao = pd.read_csv(
    '/home/pedro/code/trabalho/M04/2021/data/input/licitacoes_cnpjs_licitantes.csv',
    dtype=str,
    sep=';'
)

In [10]:
relacoes_entre_cnpjs

                     0               1
0       00010126000651  00549284000170
1       00010126000651  01758483000150
2       00010126000651  03102482000189
3       00010126000651  03394045000186
4       00010126000651  04751237000165
...                ...             ...
223431  97552982000166  19668324000120
223432  97552982000166  19675418000127
223433  97552982000166  20634414000180
223434  97552982000166  21501739000157
223435  97552982000166  65343915000145

[223436 rows x 2 columns]

In [11]:
informacoes_licitacoes

,seq_dim_licitacao,nom_entidade,sgl_entidade_pai,nom_modalidade,num_modalidade,num_exercicio_licitacao,dsc_objeto,vlr_licitacao
0,746396,Cascalho Rico,MG,Pregão Presencial,4,2015,Selecao e Contratacao de pessoa(s) juridica(s)...,1190070.0
1,746397,Cascalho Rico,MG,Convite,3,2015,Selecao e contratacao de pessoa juridica ou pe...,32000.0
2,746398,Cascalho Rico,MG,Pregão Presencial,12,2015,Selecao e contratacao de empresa(s) para o for...,989721.6
3,746399,Cascalho Rico,MG,Pregão Presencial,13,2015,Selecao e contratacao de empresa(s) para forne...,520280.44
4,746400,Cascalho Rico,MG,Pregão Presencial,14,2015,Selecao e contratacao de empresas para forneci...,206961.66
...,...,...,...,...,...,...,...,...
259336,897413,Sabará,MG,Pregão Presencial,31,2016,CONSTITUI OBJETO DA PRESENTE LICITACAO A CONTR...,12000.0
259337,897414,Sabará,MG,Pregão Presencial,51,2016,"CONSTITUI OBJETO DA PRESENTE LICITACAO, A CONT...",0.0
259338,897415,Sabará,MG,Pregão Presencial,71,2016,"PROMOVER REGISTRO DE PRECO, CONSIGNADO EM ATA,...",1530.0
259339,897416,Sabará,MG,Pregão Presencial,85,2016,"PROMOVER REGISTRO DE PRECO, CONSIGNADO EM ATA,...",0.0
259340,897417,Sabará,MG,Pregão Presencial,83,2016,"PROMOVER REGISTRO DE PRECO, CONSIGNADO EM ATA,...",26440.0

In [12]:
cnpjs_por_licitacao

       seq_dim_licitacao   num_documento
0                 761453  07469458000133
1                 761484  16786094000106
2                 761484  02874663000160
3                 761487  26680567000140
4                 761487  13437102000110
...                  ...             ...
431393            933859  13829210000139
431394            933859  22752302000159
431395            933870  12118778000189
431396            933875  08760011000181
431397            984815  10896566000288

[431398 rows x 2 columns]